

 <footer id="real-footer">
      <div class=" real-footer-section">
        <h3>Designed by Ajibola Shodipo.</h3>
        <ul>
          <li>
            <a href="http://www.twitter.com/sho_rendipity">
              <i class="fab fa-twitter "></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/ahmed-ajibola-shodipo/">
              <i class="fab fa-linkedin fa-spin"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/ajibolashodipo">
              <i class="fab fa-github "></i
            ></a>
          </li>
        </ul>
      </div>
    </footer>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/app.js"></script>
  </body>
</html>
