<%- include ("./partials/header")%>

<div class="all-content">
  <div class="landing-container">
    <div class="landing-page-div">
      <h1>Welcome</h1>

      <p class="alternative-quote">
        Track-my-Tasks boosts your productivity by providing an easy way to
        manage and organise tasks on a 24-hour basis. Take control of your tasks
        and rid yourself of procrastination
      </p>

      <a href="/register" class="btn btn-info">Get Started</a>
    </div>
  </div>
</div>
<%- include ("./partials/footer")%>
