<%- include ("./partials/header")%>

<div class="all-content">
  <div class="container">
    <div class="landing-page-div">
      <h1>Welcome</h1>

      <p class="alternative-quote">
        "<%=quoteData.myQuote %>" &mdash;<em><%=quoteData.myAuthor %></em>
      </p>
    </div>
  </div>
</div>
<%- include ("./partials/footer")%>
