<%- include ("./partials/header")%>

<div class="all-content">
  <div class="landing-container">
    <div class="landing-page-div">
      <h1>Welcome</h1>

      <p class="alternative-quote">
        Task Tracker aids your productivity by providing an effective means of
        managing and organising your daily activities. Take control of your
        tasks and rid yourself of procrastination
      </p>

      <a href="/register" class="btn btn-info">Get Started</a>
    </div>
  </div>
</div>
<%- include ("./partials/footer")%>
