<h1>Sign Up page</h1>

<form action="/register" method="POST">
  <input type="text" placeholder="username or email" name="username" />
  <input type="password" placeholder="password" name="password" />

  <button>Sign Up</button>
</form>
