* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manjari", sans-serif;

  /* font-family: 'Baskervville', serif; */
}
html {
  height: 100%;
  /* font-family: "Manjari", sans-serif; */
}
body {
  height: 100%;
  font-family: "Manjari", sans-serif;
  /* flex: 1 0 auto; */
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#first-submit {
  margin-bottom: 0.5%;
  width: 100% !important;
  padding: 2%;
}
.header-container {
  width: 60%;
  margin: 2% auto;
  /* padding-top: 2.5%; */
  border-radius: 10px;
  text-align: center;
}
.section-container {
  margin: 2% auto;

  /* border: 1px solid green; */
}
.container {
  width: 60%;
  margin: 2% auto;
  /* padding-top: 2.5%; */
  border-radius: 10px;
  text-align: center;
}

.task-container {
  width: 95%;
  margin: 2% auto;
  border: 1px solid blue;
  border-radius: 10px;
}

/* .card-title {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  width: 40%;
  margin: 1% auto;
  padding: 1px;
  text-align: center;
} */

#due-time {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
  margin-top: 5% !important;
}
.due-in {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
}

.card-header {
  background-color: rgba(56, 223, 22, 0.89);
}
