* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Manjari", sans-serif; */
  font-family: "Courier";
}
html {
  height: 100%;
  /* font-family: "Manjari", sans-serif; */
}
body {
  height: 100%;
  font-family: "Manjari", sans-serif;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url(../img/fourth.png);
  /* flex: 1 0 auto; */
}

/* utility classes */
.all-content {
  flex: 1 0 auto;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.container {
  width: 70%;
  margin: 2% auto;
  text-align: center;
}

.landing-container {
  width: 60%;
  margin: 5% auto;
  text-align: center;
  border-radius: 20px;
  padding: 5%;
  /* border: 2px solid red; */
  color: white;
  background-color: coral;
  /* background-color: rgba(56, 223, 22, 0.89); */
}
.landing-page-div h1 {
  font-size: 3.5rem;
  font-weight: bolder;
}
.alternative-quote {
  font-size: 1.2rem !important;
  padding-bottom: 2.5%;
  /* font-weight: 700 !important; */
}

/* header section */
.header-container {
  width: 70%;
  margin: 2% auto;
  /* padding-top: 2.5%; */
  border-radius: 10px;
  text-align: center;
}

.header-container h1 {
  /* color: #f0ad4e; */
  font-size: 4rem;
  font-weight: bolder;
}

.index-auth-container {
  width: 30%;
  margin: 5% auto;
  padding: 5%;
  /* border: 2px solid red; */
  /* background-color: coral; */
  background-color: rgba(56, 223, 22, 0.89);
  border-radius: 20px;
  text-align: center;
}
.index-addendum {
  margin-top: 2.5%;
}

#first-submit {
  margin-bottom: 0.5%;
  width: 100% !important;
  padding: 1.5%;
  /* font-weight: bolder; */
  /* font-size: 1.2rem; */
}

/* other section */
.section-container {
  margin: 2% auto;

  /* border: 1px solid green; */
}

.edit-and-delete button {
  margin: 1.5% auto;
}

.task-container {
  width: 95%;
  margin: 2% auto;
  border: 1px solid blue;
  border-radius: 10px;
}

.task-details {
  font-weight: bold;
}

.due-by {
  font-weight: bold;
}

.tasks-parent {
  /* border: 1px solid red; */
  color: black;
  font-weight: bolder;
  /* padding: 1%; */
  /* background-color: rgba(56, 223, 22, 0.89); */
  /* swidth: 30%; */
  /* display: none; */
}

.tasks-child-mobile {
  display: none;
}

.edit-form-container {
  width: 70%;
  margin: 7.5% auto;
  border-radius: 10px;
  text-align: center;
}

#due-time {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
  margin-top: 5% !important;
}
.due-in {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.1rem;
}

.card-header {
  background-color: rgba(56, 223, 22, 0.89);
}

#real-footer {
  background: #373b44;
  height: 8vh;
  flex-shrink: 0;
}
.real-footer-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}
.real-footer-section h3 {
  font-weight: 100;
  font-size: 1.2rem;
  color: #fff;
  margin: 0;
}
.real-footer-section .fab {
  font-size: 1.5rem;
  color: #fff;
}
.real-footer-section .fab:hover {
  color: turquoise;
  transform: rotate(20deg);
}
.real-footer-section ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.real-footer-section ul li {
  list-style: none;
  text-decoration: none;
  margin-right: 25%;
}
.real-footer-section ul li a {
  padding: 5%;
  align-self: center;
  margin: auto;
}
