.container {
  width: 95%;
}

.header-container p {
  margin-top: 15%;
  /* font-size: 3rem; */
  /* color: red; */
}

.landing-page-div {
  margin-top: 10%;
}

.index-auth-container {
  margin-top: 15%;
  width: 50%;
  margin: 5% auto;
}
.edit-form-container {
  margin-top: 20%;
  padding: 0;
  width: 80%;
}
